@import '@/scss/variables.scss';

.section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;

    &__title {
        font-size: 2.4rem;
        color: $black-color;
    }
}
