@import '@/scss/variables.scss';

.header {
    height: 7rem;
    background: $bg-color-darker;
    display: flex;
    align-items: center;


    position: sticky;
    top: 0;
    z-index: 999;

    @media (min-width: 500px) {
        &.glass {
            transition: all .2s;
            background: rgba(255, 255, 255, 0.19);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(7.1px);
            -webkit-backdrop-filter: blur(7.1px);
        }
    }

    &-wrapper {
        display: flex;
        align-items: center;
    }

    .logo {
        color: $black-color;
        font-weight: 500;

        span {
            background: $primary-color;
            color: #fff;
            font-weight: 700;
        }
    }

    .nav {
        margin-left: auto;
        font-size: 1.5rem;

        &-list {
            &__link {
                color: $black-color;
            }
        }
    }
}
